
.boxA1 {
    width: 800px;
    height: 400px;
    padding: 0px 20px;
    background-color: lightgreen;
    border: 5px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.boxB {
    width: 800px;
    margin: 10px;
    display: flex;
    gap: 10px;
}

.B1, .B3 {
    background-color: lightblue;
    border: 5px solid blue;
    align-items: center;
    justify-content: center;
}
.B1 {
    flex: 1;
}
.B2 {
    flex: 2;
    justify-content: space-between;
}
.B3 {
    flex: 0.75;
}
.boxC {
    height: 75%;
    background-color: peachpuff;
    border: 5px solid orange;
    flex: 1;
}

.C2 {
    display: flex;
    justify-content: center;
}

.D1 {
    height: auto;
    flex: 1;
    border: 5px solid maroon;
    background-color: lightpink;
}
.D2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.boxE {
    flex: 1;
    border: 5px solid maroon;
    background-color: lightpink;
}

.boxF {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
}
.boxG {
    height: 85%;
    border: 5px solid red;
    background-color: lightpink;
    flex: 1;
}
.boxH {
    height: 100%;
    padding: 10px;
    flex: 1;
    display: flex;
    align-items: center;
    gap: 10px;
}
.boxI {
    height: 60%;
}
.I1, .I4 {
    border: 5px solid purple;
    background-color: lavender;
    flex: 2;
}
.I2, .I3 {
    background-color: peachpuff;
    border: 5px solid orange;
    flex: 1;
}
.boxJ {
    height: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}