.boxA1 {
    width: 750px;
    height: 500px;
    padding: 10px;
    background-color: lightgreen;
    border: 5px solid green;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.boxB {
    height: 100px;
    width: 700px;
    padding: 20px;
}

.B1, .B3 {
    background-color: lightblue;
    border: 5px solid blue;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}
.B2 {
    background-color: lightgrey;
    border: 5px solid gray;
    flex: 2;
}

.boxC {
    height: 90px;
    width: 50px;
    background-color: peachpuff;
    border: 5px solid orange;
    flex: 1;
}